
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');


:root{
    --main-color:rgb(246, 15, 53);
}



h2,h3{
    font-family:'Roboto',sans-serif;;
    color:var(--main-color);
    text-align: center;
    
}


body{
    font-family:'Noto Sans JP',sans-serif;
    display:flex;
    justify-content: center;
}


#box{
    padding:10px;
    border-style: solid;
    border-width: 4px;
    border-radius:10px;
    border-color:var(--main-color);
}

input{
    height:10vw;
    width:50vw;
    
    margin-top:5%;
    border-style:solid;
    border-width:2px;
}

.formelements{
    margin:auto;
    width:50vw;
}
#BUTTON{
    background-color:var(--main-color);
    color: black;
    font-size:25px;
    width:50vw;
    border:none;
    margin-top: 18%;
    padding-bottom:8%;
    border-radius:6px;
    align-self:center;
    text-align: center;

    border-style:solid;
    border-width:2px;
   
}



.Answer{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding:10%;

}

.Quote{
    text-align: center;
    font-style: italic;
    font-size: 25px;
}

/* Start of code for loading icon */

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(246, 15, 53); /* Red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* End of code for loading icon */


/* For mobile devices */
@media (max-width:600px){
    html{
        font-size:large;
    }

    #box{
        
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        
        
    }
    
    #BUTTON{

        all:none;
        text-align: center;
        width: 75vw;
        margin-left:7vw;
    }

    
}
